[submodule "vxi11"]
	path = external/vxi11
	url = git@github.com:applied-optics/vxi11.git
[submodule "scpi-parser"]
	path = external/scpi-parser
	url = git@github.com:j123b567/scpi-parser.git
[submodule "bsp/de10-nano-software/linux-socfpga"]
	path = bsp/de10-nano-software/linux-socfpga
	url = git@github.com:altera-opensource/linux-socfpga.git
[submodule "bsp/de10-nano-software/buildroot"]
	path = bsp/de10-nano-software/buildroot
	url = git://git.buildroot.net/buildroot
[submodule "external/svunit-code"]
	path = external/svunit-code
	url = git@github.com:nosnhojn/svunit-code.git
